@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap');




*{
    text-decoration: none;
    color: black;
}

.misEstilos {
    font-family:Rubik;
    font-size: 1.2em;
    background-color: #F1FAEE;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 15px 15px 15px 15px;

}

header{
    padding: 0.2em;
    box-sizing:border-box;
    border-radius: 15px 15px 15px 15px;
    border: #333333 solid 2px;
    background-color: #a8dadc;
    margin: 10px auto;

}


header h1{

    padding: 10px 10px;

}

.laImagen{

    background-image: url("../img/prueba.jpg");
    border-radius: 15px 15px 15px 15px;
    padding: 1.4em 1em;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;

}

/*-------------------- MENU--------------*/

nav{
    margin: 0em 0em 0em 0em;

}

nav a{
    font-size: 20px;
    font-weight: 500;
    background: rgba(0,0,0,0);
    border: 2px solid #318aac;
    transition: all 1s ease;
}


nav a:hover{

    background: #318aac;
    color: #fff

}

.menuB{
    list-style-type: none;

}

.fac{
    display: inline;
    padding: 0em 0.7em 0em 0.7em;
    line-height: 1.8em;

}


#menuA {
    position: absolute;
    margin: 2.5em 0.5em 0.5em -0.4em;
    float: left;
    font-weight: 900;
    width: 23%;
    min-width: 200px;
    line-height: 20pt;
    z-index: 4;
    background: rgba(207, 159, 159, 0.85);
}

.respons2{
    position: absolute;
    margin: -1em 0em 0em 1em;
    font-size: 1.2em;
    padding: 0.5em 0.5em 0.5em 0.3em;
    width: 9em;
    list-style-type: none;
    text-align: left;
    line-height: 2.5em;
    border-radius: 5px;
    -moz-transition-duration:.3s;
    -webkit-transition-duration:.3s;
    -o-transition-duration:.3s;
    transition-duration:.3s;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s,opacity 1s linear;

}
.respons1:hover .respons2{
    visibility:visible;opacity:1;
}

.menumov {
    position: absolute;
    text-align: center;
    margin: -3em 0em 0em 0.5em;
    padding: 0.3em 1em 0.3em 1em;
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: black;
    border: #333333 solid 2px;

}


.sinborde {
    border: 0;
    background-color:transparent;
    margin:0;
    outline: none;
    padding: 0;
    cursor: pointer;

}

input.sinborde{
    text-decoration: underline;
    width:  50%;
}
input.sinborde:hover{
    color: blue;

}

/*--------------POSTS --------*/



#pagina{


    box-sizing:border-box;
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px;
    margin: 10px auto;
    overflow: hidden;

}

#articles {
    float:left;
    width:1000px;
    padding: 10px 10px;

}

article{
    border: #333333 solid 2px;
    padding: 10px 10px;
    text-align: justify;
    border-radius: 15px 15px 15px 15px;
    margin-top: 10px;


}


/*---------------ASIDE--------------*/

#elAside{

    display: block;
    background: #457B9D;
    border: #333333 solid 2px;
    border-radius: 15px 15px 15px 15px;
    margin-left:1%;
    width: 300px;
    padding: 10px 10px;
    float: right;
    box-sizing:border-box;
    text-align: justify;
}
#elAside a {
    text-decoration: none;
    color: black;
}
#elAside #elAvatar {
    display:block;
    margin:auto;
}
.social-icons {
    text-align: center;
}
.social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
}
.social-icons li a {
    border-bottom: none;
}
.social-icons li img {
    width:70px;
    height:70px;
    margin-right: 20px;
}


/*------------FOOTER----------*/

footer {

    font-size: 0.8em;
    width: 100%;
    background-color:#1D3557;
    box-sizing:border-box;
    border: #333333 solid 2px;
    border-radius: 15px 15px 15px 15px;
    padding: 10px 10px;
    margin: 10px auto;

}

.columna {
    float: left;
    width: 33.33%;
    text-decoration: none;


}

.columna ul li {
    list-style: none;

}

.columna ul li:first-child {
    list-style: none;
    font-size: 25px;
    font-weight: bold;
}

li p a {
    text-decoration: none;
    color: black;
}

.fila:after {
    content: "";
    display: table;
    clear: both;
}

.elLogo {

    background-image: url("../img/logo.jpg");


}


/*------------------Contacto --------------*/
form {
   /* margin: 0 auto;

    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;*/
}

form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,textarea {

    font: 1em sans-serif;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #999;

}

input:focus,textarea:focus {

    border-color: #000;

}

textarea {

    vertical-align: top;
    height: 5em;
}


button{
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: rgba(0,0,0,0);
    border: 2px solid #318aac;
    transition: all 1s ease;
}


button:hover {

    background: #318aac;
    color: #fff

}





/*------------- BOOTSTRAP -----------*/

.navbar-light {
    background-color:#a8dadc ;
}


.navbar-nav {

    float: left;
}


.navbar-nav .nav-link {
    text-align: center;
    margin: 2px;
    padding-right: 10px;
    padding-left: 10px;
}


#vermenuA {

    display: block;
}

#vermenuB {

    display: none;

}

#elLogo {
    height:150px;width:150px;
}




/* -----------------------------MEDIA QUERYS----------------------------- */


@media (max-width: 1500px) {

    #vermenuA{
        display: none;

    }


    #vermenuB{
        display: flex;

    }

}






@media only screen and (max-width: 960px) {
    #elAside {
        display: none;
    }


}


@media only screen and (max-width: 700px) {
    #elFooter {
        display: none;
    }


}


